
.menuPrincipal .container{

    display: flex;
    color: black;
}
.menuPrincipal .container ul{
    list-style: none;
}
.menuPrincipal .container ul li{
    display: inline;
}
.menuPrincipal .container ul li a{
    padding: 5px;
    color: black;
}
.menuPrincipal .container ul li a:hover{
    text-decoration: none;
    color: #1867b7;
}
